html, body {
  background-color: white;
}

svg {
    fill: #212121;
    width: 100px;
    height: 24px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    bottom: 32px;
    transform: translate(-50%)
}

@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: #212121;
  }

  svg {
    fill: white;
  }
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}